extends ../base.pug

block content
  h3 Image
    small

  .btn-group
    a(href=`/visions/${data.id}/delete`, class='btn btn-danger btn-sm')
      i.glyphicon.glyphicon-trash
      span  Delete image

  .media
    .media-left
      div(style="width:200px;")
         img(src=data.imageUrl ,style='height: 100%; width: 100%; object-fit: contain')
    .media-body
      h4= data.title
        | &nbsp;
        small= data.publishedDate

      p= data.description
      small Added by #{data.createdBy}

      div

      button(type="button" class="btn btn-info" data-toggle="collapse" data-target="#labels") Labels
      div(class="collapse",id="labels")
        pre= JSON.stringify(labels,undefined,2) 
          ul
            each label in labels
              li
                a(target="_blank", href=`https://kgsearch.googleapis.com/v1/entities:search?ids=${label.mid}&key=AIzaSyBJqOv45389qkVm-89OhAdNS6KlvZM80F4&limit=1&indent=True`) 
                  span= label.description

      button(type="button" class="btn btn-info" data-toggle="collapse" data-target="#texts") Text
      div(class="collapse",id="texts")
        p Text detected
          pre= JSON.stringify(text,undefined,2) 
      
      button(type="button" class="btn btn-info" data-toggle="collapse" data-target="#translations") Translations
      div(class="collapse",id="translations")
        form(method="get")
          select#propertyType.select.form-control.input-lg( name='language')
            option(value='en') english
            option(value='fr') french
            option(value='de') german
            option(value='it') italian
        
          .btn-group
            button.btn.btn-success(type="submit") translate


        pre
          each translation in translations
            =translation
      
      button(type="button" class="btn btn-info" data-toggle="collapse" data-target="#landmarks") Landmarks
      div(class="collapse",id="landmarks")
        pre= JSON.stringify(landmarks,undefined,2) 
          ul
            each label in landmarks
              li
                a(target="_blank", href=`https://kgsearch.googleapis.com/v1/entities:search?ids=${label.mid}&key=AIzaSyBJqOv45389qkVm-89OhAdNS6KlvZM80F4&limit=1&indent=True`) 
                  span= label.description

      button(type="button" class="btn btn-info" data-toggle="collapse" data-target="#web") Web
      div(class="collapse",id="web")
        ul
          each webEntity in webDetection.webEntities
            li
              a(target="_blank", href=`https://www.google.com/search?q=${webEntity.description}`)
              a(target="_blank", href=`https://kgsearch.googleapis.com/v1/entities:search?ids=${webEntity.entityId}&key=AIzaSyBJqOv45389qkVm-89OhAdNS6KlvZM80F4&limit=1&indent=True`) 

                span=webEntity.description
        pre= JSON.stringify(webDetection,undefined,2)

                

          

