//- Copyright 2017, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

extends ../base.pug

block content
  h3 Image
    small

  .btn-group
    a(href=`/visions/${data.id}/delete`, class='btn btn-danger btn-sm')
      i.glyphicon.glyphicon-trash
      span  Delete image

  .media
    .media-left
      div(style="width:200px;")
         img(src=data.imageUrl ,style='height: 100%; width: 100%; object-fit: contain')
    .media-body
      h4= data.title
        | &nbsp;
        small= data.publishedDate

      p= data.description
      small Added by #{data.createdBy}
      p Labels 
        pre= JSON.stringify(labels,undefined,2) 
        ul
          each label in labels
            li
              a(target="_blank", href=`https://www.google.com/search?q=${label.description}`) 
                span= label.description

      p Text detected
        pre= JSON.stringify(text,undefined,2) 
      p Landmarks
        pre= JSON.stringify(landmarks,undefined,2) 
      p Web
        pre= JSON.stringify(webDetection,undefined,2)
        ul
          each webEntity in webDetection.webEntities
            li
              a(target="_blank", href=`https://www.google.com/search?q=${webEntity.description}`)
                span=webEntity.description
          

